<section>
	<div role="navbar">
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="" ng-click="backToMigratePage()">Oracle Migration Tool</a>
		      <a class="navbar-brand">Manage Data</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li class="active"><a href="#">Search <span class="sr-only">(current)</span></a></li>
		        <li ><a href="#">Insert <span class="sr-only">(current)</span></a></li>
		        <li ><a href="#">Delete <span class="sr-only">(current)</span></a></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
	</div>
	<div class="build-sql">
		<div role="connection-area" class="connection-area">
			<div role="connection-select" class="option-select">
				<h5><span class="label label-default">Connection URL</span></h5>
				<div class="dropdown">
				  <select class="js-example-basic-single js-states form-control" id="id_label_single" ng-model="urlSelected">
					<option ng-repeat="url in urls" value="{{url}}">
						<a> {{ url.url }} </a>
					</option>
				  </select>
				</div>
			</div>
		</div>
		<div role="function-area" class="function-area">
			<!-- schema -->
			<div role="schema-select" class="option-select">
				<h5><span class="label label-default">Schema</span></h5>
				<div class="dropdown">
				  	<select class="js-data-schema-ajax js-states form-control"></select>
				</div>
			</div> <!-- schema-select -->

			<!-- table -->
			<div role="table-select" class="option-select">
				<h5><span class="label label-default">From Table</span></h5>
				<div class="dropdown">
				  <select class="js-data-table-ajax js-states form-control"></select>
				</div>
			</div> <!-- table-select -->

			<!-- select column section -->
			<div role="selectcolumn-section" class="option-select">
				<h5>
					<span class="label label-default">Select Column</span>
					<div class="checkbox inline">
						<label>
							<input type="checkbox" ng-model="distinct"> distinct
						</label>
					</div>
				</h5>
				<div class="dropdown">
				  <select class="js-data-selectcolumn-ajax js-states form-control" multiple="multiple"></select>
				</div>
			</div> <!-- selectcolumn-select -->

			<!-- where section -->
			<div role="where-section" class="option-select ">
				<h5><span class="label label-default">Where</span></h5>
				<div class="">
			    	<div class="input-group">
			      		<div class="input-group-btn">
				 			<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				    			{{ columnSelected || "Column" }}
				    		<span class="caret"></span></button>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
								<li ng-repeat="columnName in columnNames">
									<a ng-click="columnNameSelected(this)"> {{ columnName.name }} </a>
								</li>
							</ul>
						</div><!-- input-group-btn -->
						<!-- expression -->
						<input type="text" class="form-control" aria-label="..." value="{{expression1}}" ng-model="expression1">
					</div><!-- /input-group -->
				</div><!-- /.col-lg-6 -->
			</div>

			<!-- order by section -->
			<div role="orderby-section" class="option-select">
				<h5><span class="label label-default">Order By</span></h5>
				<div class="dropdown inline">
				  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				    {{ orderByColumnSelected || "Orderby Column" }}
				    <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				  	<li ng-repeat="columnName in columnNames">
				  		<a ng-click="orderByColumnNameSelected(this)"> {{ columnName.name }} </a>
				  	</li>
				  </ul>
				</div>
				<div class="checkbox inline">
					<label>
						<input type="checkbox" ng-model="desc"> desc
					</label>
				</div>
			</div> <!-- column-select -->
			<div role="search-button" class="option-select">
				<button type="button" class="btn btn-success" ng-click="query()">Search</button>
			</div>
		</div>
	</div><!--  build-sql -->
	<div class="show-result">
		<div role="result-showing" class="option-select result-area">
			<json-formatter open="2" json="jsonResult" class="json-formatter-dark"></json-formatter>
		</div>
	</div>
</section>

