<section ng-controller="ManageDataController">
	<div role="navbar">
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="" ng-click="backToMigratePage()">Oracle Migration Tool</a>
		      <a class="navbar-brand">Manage Data</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li class="active"><a href="#">Search <span class="sr-only">(current)</span></a></li>
		        <li ><a href="#">Insert <span class="sr-only">(current)</span></a></li>
		        <li ><a href="#">Delete <span class="sr-only">(current)</span></a></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
	</div>
	<div role="function-area" class="function-area">
		<div role="table-select" class="option-select">
			<div class="dropdown">
			  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			    {{ tableSelected || "Select Table" }}
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			  	<li ng-repeat="tableName in tableNames">
			  		<a ng-click="tableNameSelected(this)"> {{ tableName.name }} </a>
			  	</li>
			  </ul>
			</div>
		</div> <!-- table-select -->
		<div role="column-select" class="option-select">
			<div class="dropdown">
			  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			    {{ columnSelected || "Select Column" }}
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			  	<li ng-repeat="columnName in columnNames">
			  		<a ng-click="columnNameSelected(this)"> {{ columnName.name }} </a>
			  	</li>
			  </ul>
			</div>
		</div> <!-- column-select -->
		
		<div role="values-input" class="option-select values-input">
			<!-- condition1 -->
			<div class="col-lg-6 condition-input">
			    <div class="input-group ">
			      <div class="input-group-btn">
			        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ conditionOp1 || "Select Operator" }} <span class="caret"></span></button>
			        <ul class="dropdown-menu">
					  	<li ng-repeat="conditionOp in conditionOps">
					  		<a ng-click="conditionOp1Selected(this)"> {{ conditionOp.name }} </a>
					  	</li>
			        </ul>
			      </div><!-- /btn-group -->
			      <input type="text" class="form-control" aria-label="..." value="{{conditionValue1}}" ng-model="conditionValue1">
			    </div><!-- /input-group -->
			</div><!-- /.col-lg-6 -->
		</div> <!-- values-input -->
		<div role="search-button" class="option-select">
			<button type="button" class="btn btn-success" ng-click="query()">Search</button>
		</div>
	</div>
	<div role="result-showing" class="option-select result-area">
		<json-formatter open="1" json="jsonResult"></json-formatter>
	</div>
</section>

