/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.migration-container {
  background-image: url('../img/bg.jpg');
  background-position: bottom;
}

.config-section {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  max-width: 780px;
  padding: 0;
  clear: both;
  padding-top: 20px;
  padding-left: 10px;
  padding-right:20px;
  border: 6px solid #ddd;
  height: 500px;
  /*border: 1px groove;*/
  border-radius: 8px;
}

.input-detail {
  margin-left: 40px;
  margin-right: 40px;
}

.label-section {
  vertical-align: top;
  padding: 0;
  float: left;
  width: 15%;
  margin-right: 20px;
}

.config-detail {
  padding: 0;
  width: 80%;
  float: left;
  padding-bottom: 15px;
}

.validate-button-section {
  width: 20%;
  float: left;
}

.validate-button-section .validate-button {
  margin-bottom: 20px;
}

.validate-button-section .label-guide {
  white-space: pre-wrap;
  line-height: 16px;
}

.validate-button-section .monitor-page-link {
  margin-top: 20px;
  width: 149px;
}

.label-attribute-font {
  font-size: 13px;
  line-height: 25px;
}

.label-db-font {
  font-size: 13px;
  line-height: 35px;
}

.label-fail-wrap {
  white-space: normal;
  display: block;
}

.label-pill {
  padding-right: .6em;
  padding-left: .6em;
  border-radius: 10rem;
}

.wrap-dd-select {
  width: 385px;
}
.md-whiteframe-z1 {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
}
.indigo {
    background-color: #3f51b5;
}
.no-radius {
    border-radius: 0!important;
}
.navbar{
  color: white;
}
.navbar .navbar-item{
  padding:0 16px;
  line-height: 64px;
}
.pull-left{
  float:left!important;
}
.h4{
  font-size:18px;
  margin:0;
}
.define{
  border:none;
  border-radius: 0;
  margin-bottom: 24px;
  background-color: rgba(0,0,0,0.15);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}
.monitor-page-link{
  float:right!important;
  padding-left: 0;
  margin-bottom: 0;
  color:white;
  font-size:12px;
}
.monitor-page-link:hover{
 color:white;
}
.monitor-page-link.icon{
  background-image: url('../img/monitor.jpg');
}
.fire-button-section{
  float:left;
}
.fireInfo{
  color:white;
  font-weight: 400;
}
.firebtn{
  width:250px;
  display: inline-block;
}
