<html lang="en" ng-app="oracleMigration">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Oracle Migration Tool</title>


  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/adapt-strap.css"/>
  <link rel="stylesheet" href="css/angular-dropdowns.min.css"/>
  <link rel="stylesheet" href="css/app.css"/>

</head>

<body class="migration-container">

<div ng-controller="ConfigController">
    <dir class="config-section row">
      <div class="config-detail ">
        <div class="input-detail">
          <div class="form-group row">
            <label class="col-sm-3 label label-pill label-warning label-db-font">Source DB</label>
            <div class="col-sm-9"> 
              <div dropdown-select="quickSelectOptions" dropdown-model="sourceQuickSelectOptionsSelected"
               dropdown-item-label="url" dropdown-onchange="sourceQuickSelectionChange(selected)">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 form-control-label label-pill label label-info label-attribute-font">IP:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="inputEmail3" value="{{sourceIp}}" ng-model="sourceIp" ng-change="sourceInputChanged()">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 form-control-label label label-pill label-info label-attribute-font">Username:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="inputEmail3" value="{{sourceUsername}}" ng-model="sourceUsername" ng-change="sourceInputChanged()">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 form-control-label label label-pill label-info label-attribute-font">Password:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="inputEmail3" value="{{sourcePassword}}" ng-model="sourcePassword" ng-change="sourceInputChanged()">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 form-control-label label label-pill label-info label-attribute-font">SID</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="inputEmail3" value="{{sourceSID}}" ng-model="sourceSID" ng-change="sourceInputChanged()">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 form-control-label label label-pill label-info label-attribute-font">Schema:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="inputEmail3" value="{{sourceSchema}}" ng-model="sourceSchema" ng-change="sourceInputChanged(true)">
            </div>
          </div>
          <label ng-if="validateSuccess(sourceValidateResult)" class="label label-success">Validate Successfully!</label>
          <label ng-if="validateFail(sourceValidateResult)" class="label label-danger label-fail-wrap">Validate Failed, cause: {{sourceValidateMessage}}</label>
          <label ng-if="validateWarn(sourceValidateResult)" class="label label-warning">Validate Success, but with warning: {{sourceValidateMessage}}</label>
        </div>
      </div>
      <div class="validate-button-section">
        <button type="button" class="btn btn-primary validate-button" ng-click="validate(true)">Validate Connection</button>
        <ad-loading-icon loading-icon-size="20px" loading-icon-class="glyphicon glyphicon-refresh ad-spin" ng-show="showLoadingIconForValidateSourceConnectionButton"></ad-loading-icon><br>
        <button type="button" class="btn btn-secondary monitor-page-link" ng-click="gotoMonitorPage()">Monitoring Page</button>
      </div>
    </dir>
    <dir class="config-section row">
      <div class="config-detail ">
        <div class="input-detail">
          <div class="form-group row">
            <label class="col-sm-3 label label-pill label-warning label-db-font">Target DB</label>
            <div class="col-sm-9">
              <div dropdown-select="quickSelectOptions" dropdown-model="targetQuickSelectOptionsSelected"
               dropdown-item-label="url" dropdown-onchange="targetQuickSelectionChange(selected)">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 form-control-label label  label-pill label-info label-attribute-font">IP:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="inputEmail3" value="{{targetIp}}" ng-model="targetIp" ng-change="targetInputChanged()">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 form-control-label label  label-pill label-info label-attribute-font">Username:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="inputEmail3" value="{{targetUsername}}" ng-model="targetUsername" ng-change="targetInputChanged()">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 form-control-label label  label-pill label-info label-attribute-font">Password:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="inputEmail3" value="{{targetPassword}}" ng-model="targetPassword" ng-change="targetInputChanged()">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 form-control-label label  label-pill label-info label-attribute-font">SID</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="inputEmail3" value="{{targetSID}}" ng-model="targetSID" ng-change="targetInputChanged()">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 form-control-label label  label-pill label-info label-attribute-font">Schema:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="inputEmail3" value="{{targetSchema}}" ng-model="targetSchema" ng-change="targetInputChanged(true)">
            </div>
          </div>
          <label ng-if="validateSuccess(targetValidateResult)" class="label label-success">Validate Successfully!</label>
          <label ng-if="validateFail(targetValidateResult)" class="label label-danger label-fail-wrap">Validate Failed, cause: {{targetValidateMessage}}</label>
        </div>
      </div>
      <div class="validate-button-section">
        <button type="button" class="btn btn-primary validate-button" ng-click="validate(false)">Validate Connection</button>
        <ad-loading-icon loading-icon-size="20px" loading-icon-class="glyphicon glyphicon-refresh ad-spin" ng-show="showLoadingIconForValidateTargetConnectionButton"></ad-loading-icon><br>
        <div>
            <ad-alerts timeout="timeoutValue" custom-classes="thick-border"></ad-alerts>
            <label class="label label-success label-guide" ng-if="showToValidateButton()">Please "Validate Connection" for Source DB and Target DB at first.</label>
            <button type="button" class="btn btn-primary btn-lg btn-block" ng-if="showToMigrateButton()" ng-click="fireMigration()">Fire Migration</button>
            <ad-loading-icon ng-show="showLoadingIcon" loading-icon-size="26px" loading-icon-class="glyphicon glyphicon-refresh ad-spin"></ad-loading-icon><br>
        </div>
        <button type="button" class="btn btn-secondary monitor-page-link" ng-click="recreateSchema()">Recreate Schema</button>
        <ad-loading-icon loading-icon-size="20px" loading-icon-class="glyphicon glyphicon-refresh ad-spin" ng-show="showLoadingIconForRecreate"></ad-loading-icon><br>
      </div>
    </dir>

</div>
  <script src="lib/common/jquery.min.js"></script>
  <script src="lib/common/bootstrap.min.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/common/angular-sanitize.min.js"></script>
  <script src="lib/angular/angular-route.js"></script>
  <!-- adapt-strap -->
  <script src="lib/common/angular-dropdowns.min.js"></script>
  <script src="lib/common/adapt-strap.min.js"></script>
  <script src="lib/common/adapt-strap.tpl.min.js"></script>
  <script type="text/javascript" src="lib/common/ui-bootstrap-tpls-1.3.1.js"></script>
  <script type="text/javascript" src="lib/common/angular-confirm.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>

</html>
