<html lang="en" ng-app="oracleMigration">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Oracle Migration Tool</title>


  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/adapt-strap.css"/>
  <link rel="stylesheet" href="css/angular-dropdowns.min.css"/>
  <link rel="stylesheet" href="css/ngDialog.css"/>
  <link rel="stylesheet" href="css/ngDialog-theme-default.css"/>
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="css/ngDialog-theme-plain.css"/>


  <link href="js/node_modules/angular-material/angular-material.css" rel="stylesheet" />
  <script src="js/node_modules/angular/angular.js" type="text/javascript" ></script>
  <script src="js/node_modules/angular-animate/angular-animate.js" type="text/javascript" ></script>
  <script src="js/node_modules/angular-aria/angular-aria.js" type="text/javascript" ></script>
  <script src="js/node_modules/angular-material/angular-material.js" type="text/javascript" ></script>

</head>

<body ng-app='starterApp' layout='column' class="migration-container">
<div ng-controller="ConfigController">
  <md-toolbar class='navbar md-whiteframe-z1 no-radius indigo'>    
    <div class='navbar-item pull-left h4 ng-binding'>Oracle Migration Tool
      <a  class="manage-page-link" href='#' ng-click="selectSchema()">
      <i class="icon"></i>Data Manage</a>
      <a  class="monitor-page-link" href='dashboard/html/table/datatable.html' ng-click="gotoMonitorPage()">
      <i class="icon"></i>Monitoring Page</a>
    </div>
  </md-toolbar>
  <div flex layout='row'>
    <dir flex class="col-lg-7 config-section define">
      <div class="config-detail ">
          <label ng-if="validateSuccess(sourceValidateResult)" class="label-success label-valideInfo">Validate Successfully!</label>
          <label ng-if="validateFail(sourceValidateResult)" class="label-danger label-fail-wrap label-valideInfo">Validate Failed, cause: {{sourceValidateMessage}}</label>
          <label ng-if="validateWarn(sourceValidateResult)" class="label-warning label-valideInfo">Validate Success, but with warning: {{sourceValidateMessage}}</label>
        <div class="input-detail">
          <div class="form-group row">
            <label class="col-sm-3 label label-pill label-warning label-db-font">Source DB</label>
            <div class="col-sm-9"> 
              <div dropdown-select="quickSelectOptions" dropdown-model="sourceQuickSelectOptionsSelected"
               dropdown-item-label="url" dropdown-onchange="sourceQuickSelectionChange(selected)">
              </div>
            </div>
          </div>
           <div class="form-group row">
            <label class="col-sm-3 form-control-label label-pill label label-info label-attribute-font">IP:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="inputEmail3" value="{{sourceIp}}" ng-model="sourceIp" ng-change="sourceInputChanged()">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 form-control-label label label-pill label-info label-attribute-font">Username:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="inputEmail3" value="{{sourceUsername}}" ng-model="sourceUsername" ng-change="sourceInputChanged()">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 form-control-label label label-pill label-info label-attribute-font">Password:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="inputEmail3" value="{{sourcePassword}}" ng-model="sourcePassword" ng-change="sourceInputChanged()">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 form-control-label label label-pill label-info label-attribute-font">SID</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="inputEmail3" value="{{sourceSID}}" ng-model="sourceSID" ng-change="sourceInputChanged()">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 form-control-label label label-pill label-info label-attribute-font">Schema:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="inputEmail3" placeholder='Please input source schema name'value="{{sourceSchema}}" ng-model="sourceSchema" ng-change="sourceInputChanged(true)">
            </div>
          </div>
        </div>
      </div>
     <div class="validate-button-section">
        <button type="button" class="btn btn-primary validate-button" ng-click="validate(true)">Validate Connection</button>
        <ad-loading-icon loading-icon-size="20px" loading-icon-class="glyphicon glyphicon-refresh ad-spin" ng-show="showLoadingIconForValidateSourceConnectionButton"></ad-loading-icon><br>
     </div>
    </dir>
    <dir flex class="config-section row define">
      <div class="config-detail ">
        <label ng-if="validateSuccess(targetValidateResult)" class="label-success label-valideInfo">Validate Successfully!</label>
          <div ng-if="validateFail(targetValidateResult)">
            <label class="label-danger label-fail-wrap label-valideInfo">Validate Failed, cause: {{targetValidateMessage}}
            <a ng-if ='targetValidateMessage=="Tables exit in target schema, please recreate this schema at first!"' type="link" id='recreatBtn' class="label-success label-valideInfo" ng-click="recreateSchema()">Recreate Schema</a></label>
          </div>
          <label ng-if="recreateSuccess" class="label-success label-valideInfo">Recreate Schema Success!</label>
          <ad-loading-icon loading-icon-size="20px" loading-icon-class="glyphicon glyphicon-refresh ad-spin" ng-show="showLoadingIconForRecreate"></ad-loading-icon>
        <div class="input-detail">
          <div class="form-group row">
            <label class="col-sm-3 label label-pill label-warning label-db-font">Target DB</label>
            <div class="col-sm-9">
              <div dropdown-select="quickSelectOptions" dropdown-model="targetQuickSelectOptionsSelected"
               dropdown-item-label="url" dropdown-onchange="targetQuickSelectionChange(selected)">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 form-control-label label  label-pill label-info label-attribute-font">IP:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="inputEmail3" value="{{targetIp}}" ng-model="targetIp" ng-change="targetInputChanged()">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 form-control-label label  label-pill label-info label-attribute-font">Username:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="inputEmail3" value="{{targetUsername}}" ng-model="targetUsername" ng-change="targetInputChanged()">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 form-control-label label  label-pill label-info label-attribute-font">Password:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="inputEmail3" value="{{targetPassword}}" ng-model="targetPassword" ng-change="targetInputChanged()">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 form-control-label label  label-pill label-info label-attribute-font">SID</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="inputEmail3" value="{{targetSID}}" ng-model="targetSID" ng-change="targetInputChanged()">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 form-control-label label  label-pill label-info label-attribute-font">Schema:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="inputEmail3" value="{{targetSchema}}" placeholder='Please input target schema name'ng-model="targetSchema" ng-change="targetInputChanged(true)">
            </div>
          </div>
        </div>
      </div>
       <div class="validate-button-section">
        <button type="button" class="btn btn-primary validate-button" ng-click="validate(false)">Validate Connection</button>
        <ad-loading-icon loading-icon-size="20px" loading-icon-class="glyphicon glyphicon-refresh ad-spin" ng-show="showLoadingIconForValidateTargetConnectionButton"></ad-loading-icon><br>
      </div> 
      <div class="fire-button-section">
            <button type="button" ng-disabled = "!showToMigrateButton()" class="firebtn btn btn-primary btn-lg btn-block" ng-click="fireMigration()">Start Migrating</button>
            <label class="fireInfo">(Please "Validate Connection" for Source DB and Target DB at first.)</label>
            <ad-alerts timeout="timeoutValue" custom-classes="thick-border"></ad-alerts> 
            <ad-loading-icon ng-show="showLoadingIcon" loading-icon-size="26px" loading-icon-class="glyphicon glyphicon-refresh ad-spin"></ad-loading-icon>
        </div>
      </div>
    </dir>
  </div>
</div>
  <script src="lib/common/jquery.min.js"></script>
  <script src="lib/common/bootstrap.min.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/common/angular-sanitize.min.js"></script>
  <script src="lib/angular/angular-route.js"></script>
  <!-- adapt-strap -->
  <script src="lib/common/angular-dropdowns.min.js"></script>
  <script src="lib/common/adapt-strap.min.js"></script>
  <script src="lib/common/adapt-strap.tpl.min.js"></script>
  <!-- ngDialog -->
  <script src="lib/common/ngDialog.js"></script>
  <script type="text/javascript" src="lib/common/ui-bootstrap-tpls-1.3.1.js"></script>
  <script type="text/javascript" src="lib/common/angular-confirm.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>

</html>
